@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


#root {
    
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.primary-button {
    background-color: #25ac7f;
}
